*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins';
}

body{
    background: rgb(247, 247, 247);
    margin: 0px;
}

.header{
    background-color: #131e36;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    padding: 10px 10%;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 50px;
    width: auto;
    transition: all 0.3s;
    border-radius: 7px;
}

.header .logo img:hover{
    transform: scale(1.05);
}

.header .navs-links{
    list-style: none;
}

.header .navs-links li{
    display: inline-block;
    padding: 0 20px;
    transition: all 0.8s;
}

.header .navs-links li:hover{
    transform: scale(1.08);
}

.header .navs-links li a{
    font-size: 700;
    color: #c0d6df;
    text-decoration: none;
}

.header .navs-links li a:hover{
    color: #c0d6df;
}

.header .button-1 button{
    height: 50px;
    width: auto;
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding: 9px 25px;
    background: white;
    border-color: black;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

.header .button-1 button:hover{
    background-color: rgb(167, 233, 47);
    transform: scale(1.05);
}

#Hello {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('/Pagina Web/images/Wallpaper.jpg') center/cover no-repeat;
    position: relative;
}

#intro {
    height: 100%;
    width: 100%;
}

.HiThere{
    text-align: center;
    margin: 150px;
    line-height: 1.1;
}

.HiThere h1 {
    color: white;
    text-shadow: 10px 1px 2px black;
    font-size: 100vw;
    max-width: 800px; 
    margin: 0 auto;
    font-size: 200px;
}

.button-container{
    margin-top: 100px;
}


.btn {
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1)
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;

  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

  .scroll-link {
    scroll-behavior: smooth;
}

.about-us-container {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 100%;
    font-size: 80px;
    background-color: #000814;
}

.card {
    width: calc(50% - 20px);
    height: 254px;
    background-image: linear-gradient(144deg,#8338ec, #ff006e 60%,#ffbe0b);
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    position: relative;
    margin: auto;
    font-family: inherit;
    font-size: 10px;
    margin-bottom: 20px;
  }
  
  .card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 1.3em;
  }
  
  .card .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 1em;
  }
  
  .card .img-1 {
    width: 70px;
    height: 70px;
    background: #e8e8e8;
    border-radius: 100%;
    margin: auto;
    margin-top: 20px;
    background: url('/Pagina Web/Images/Jacoby.png') center/cover no-repeat;
  }

  .card .img-2 {
    width: 70px;
    height: 70px;
    background: #e8e8e8;
    border-radius: 100%;
    margin: auto;
    margin-top: 20px;
    background: url('/Pagina Web/Images/Arnold.png') center/cover no-repeat;
  }

  .card .img-3 {
    width: 70px;
    height: 70px;
    background: #e8e8e8;
    border-radius: 100%;
    margin: auto;
    margin-top: 20px;
    background: url('/Pagina Web/Images/Ivan.png') center/cover no-repeat;
  }

  .card .img-4 {
    width: 70px;
    height: 70px;
    background: #e8e8e8;
    border-radius: 100%;
    margin: auto;
    margin-top: 20px;
    background: url('/Pagina Web/Images/Roberto.jpeg') center/cover no-repeat;
  }

.section-content h2{
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card .redes {
    font-weight: 400;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    font-size: 1em;
}

.card .redes ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.card .redes ul li {
    margin: 0 10px;
}

.card .redes ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
    font-size: 2.1em;
}

.card .redes ul li a:hover {
    background-color: #606060;
}
